/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.side_anchorpane{
    -fx-background-color: #353A56 ;
    -fx-border-width : 2px 2px 2px 2px ;
    -fx-border-radius : 20px;
    -fx-background-radius : 20px;
    -fx-border-style : solid;
}
.inner_pane{
    -fx-background-color: #784CF1 ;
    -fx-border-width : 2px 2px 2px 2px ;
    -fx-border-radius : 20px;
    -fx-background-radius : 20px;
    -fx-border-style : solid;
    -fx-border-color: #784CF1 ;
}
